/*Font, Basic stlye style*/
@import url(./Font.css);
@import url(./Basic\ style.css);



/*모바일*/
@media screen and (max-width:767px) {
    /*toggle_menu*/
    #toggle_menu>ul>li.bookcover>a{
        color:#0068FF;
        text-shadow:
        -1px 0 #fff, 
        0 1px #fff, 
        1px 0 #fff, 
        0 -1px #fff;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }



    /*parallax*/
    .parallax{top:45%;}



    /*section1*/
    /*main*/
    /*bookcover-text*/
    .bookcover-text{
        width:270px;
        /* min-width:40%; */
        /* max-width:90.749%; */
        position:absolute;
        left:1%;
        top:9.5%;
        z-index:2;
    }
    /*ul*/
    ul.content{
        position:absolute;
        left:21%;
        top:65.5%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:200px;
        /* min-width:253.749%;
        max-width:253.749%; */
        font-size:14px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        border-bottom:2px solid #0068FF;
        margin-bottom:10px;
    }



    /*section2 ~ #section5 공통 */
    #section2 .all-text-wrap,
    #section3 .all-text-wrap,
    #section4 .all-text-wrap,
    #section5 .all-text-wrap{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        justify-content:center;
        align-items:end;
        gap:17px;
        padding-top:15%;
    }
    #section2 .right-mockup,
    #section3 .left-mockup,
    #section4 .right-mockup,
    #section5 .left-mockup{
        display:flex;
        width:110%;
        margin:0 auto;
        width:120%;
    }
    #section2 .right-mockup,
    #section4 .right-mockup{
        width:140%;
        margin:0 -35%;
    }
    #section3 .left-mockup,
    #section5 .left-mockup{
        width:155%;
        margin-left:-18%;
    }
    .bookcover_design{display:none;}


    /*section2 style*/
    #section2 h3,
    #section2 h4,
    #section2 .detail-text-wrap .detail-bold{color:#A3BCE2;}
    #section2 h2{color:#1D50A2;}
    #section2 .detail-text .color-circle1{background:#1D50A2;}


    /*section3 style*/
    #section3{background:#D9EEF0;}
    #section3 h3,
    #section3 h4,
    #section3 .detail-text-wrap .detail-bold{color:#A9D8C7;}
    #section3 h2{color:#6DAADD;}
    #section3 .detail-text .color-circle1{background:#8DCCB2;}
    #section3 .detail-text .color-circle2{background:#6DAADD;}
    #section3 .detail-text-wrap .color-wrap{display:block;}


    /*section4 style*/
    #section4{background:#727171;}
    #section4 h3,
    #section4 h4,
    #section4 .detail-text-wrap .detail-bold{color:#7D0000;}
    #section4 h2{color:#000000;}
    #section4 .detail-text .color-circle1{background:#000000;}
    #section4 .detail-text .color-circle2{background:#7D0000;}
}










/*태블릿*/
@media screen and (min-width:768px) and (max-width:1024px){
    /*toggle_menu*/
    #toggle_menu>ul>li.bookcover>a{
        color:#0068FF;
        text-shadow:
        -1px 0 #fff, 
        0 1px #fff, 
        1px 0 #fff, 
        0 -1px #fff;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }



    /*parallax*/
    .parallax{top:45.5%;}



    /*section1*/
    /*main*/
    /*bookcover-text*/
    .bookcover-text{
        /* width:555px; */
        min-width:30%;
        max-width:76.473%;
        position:absolute;
        left:12.5%;
        top:8%;
        z-index:2;
    }
    /*ul*/
    ul.content{
        position:absolute;
        left:30%;
        top:66%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:310px;
        font-size:20px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        line-height:30px;
        border-bottom:2px solid #0068FF;
        margin-bottom:15px;
    }
    /*pen*/
    .pen{
        /* width:45%; */
        min-width:22%;
        max-width:33%;
        position:absolute;
        left:77%;
        top:28%;
        z-index:5;
        transform: rotate(-5.95deg);
    }



    /*section2 ~ #section5 공통 */
    #section2 .all-text-wrap,
    #section3 .all-text-wrap,
    #section4 .all-text-wrap,
    #section5 .all-text-wrap{
        display:grid;
        grid-template-columns:repeat(8, 1fr);
        justify-content:center;
        align-items:end;
        gap:16px;
        padding-top:10%;
    }
    #section2 .right-mockup,
    #section3 .left-mockup,
    #section4 .right-mockup,
    #section5 .left-mockup{
        display:grid;
        grid-template-columns:repeat(8, 1fr);
        justify-content:center;
    }
    #section2 .right-mockup,
    #section4 .right-mockup{
        width:110%;
        margin:0 -15%;
    }
    #section3 .left-mockup,
    #section5 .left-mockup{width:115%;}
    .bookcover_design{display:none;}


    /*section2 style*/
    #section2{
        background:
        url(../images/bookcover/section2_illustration1.svg)no-repeat right -2% top 48% / 37%,
        url(../images/bookcover/section2_illustration2.svg)no-repeat left 2% bottom -9% / 32%,
        url(../images/bookcover/section2_illustration3.svg)no-repeat left 5.5% top 49% / 9%;
    }
    #section2 h3,
    #section2 h4,
    #section2 .detail-text-wrap .detail-bold{color:#A3BCE2;}
    #section2 h2{color:#1D50A2;}
    #section2 .detail-text .color-circle1{background:#1D50A2;}


    /*section3 style*/
    #section3{
        background:
        url(../images/bookcover/section3_illustration1.svg)no-repeat left 47% top 54% / 87%,
        url(../images/bookcover/section3_illustration2.svg)no-repeat left 41% bottom 13% / 87%,
        url(../images/bookcover/section3_illustration3.svg)no-repeat right 1.5% bottom 30.5% / 16.5%,
        #D9EEF0;
    }
    #section3 h3,
    #section3 h4,
    #section3 .detail-text-wrap .detail-bold{color:#A9D8C7;}
    #section3 h2{color:#6DAADD;}
    #section3 .detail-text .color-circle1{background:#8DCCB2;}
    #section3 .detail-text .color-circle2{background:#6DAADD;}
    #section3 .detail-text-wrap .color-wrap{display:block;}



    /*section4 style*/
    #section4{
        background:
        url(../images/bookcover/section4_illustration1.svg)no-repeat right 5% bottom 0% / 76%,
        #727171;
    }
    #section4 h3,
    #section4 h4,
    #section4 .detail-text-wrap .detail-bold{color:#7D0000;}
    #section4 h2{color:#000000;}
    #section4 .detail-text .color-circle1{background:#000000;}
    #section4 .detail-text .color-circle2{background:#7D0000;}
    #section4 .right-mockup{margin-top:-7%;}

}










/*노트북*/
@media screen and (min-width:1025px) and (max-width:1536px){
    /*Nav*/
    /*main_nav*/
    .main_nav>ul>li.bookcover>a{
        color:#fff;
        text-shadow:
        -1px 0 #0068FF, 
        0 1px #0068FF, 
        1px 0 #0068FF, 
        0 -1px #0068FF;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }


    /*section1*/
    /*main*/
    /*bookcover-text*/
    .bookcover-text{
        width:450px;
        position:absolute;
        left:1%;
        top:9.5%;
        z-index:2;
    }
    /*ul*/
    ul.content{
        position:absolute;
        left:18%;
        top:66.5%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:325px;
        font-size:22px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        line-height:30px;
        border-bottom:2px solid #0068FF;
        margin-bottom:15px;
    }
    /*pen*/
    .pen{
        /* width:45%; */
        min-width:27%;
        max-width:35%;
        position:absolute;
        left:70%;
        top:28%;
        z-index:5;
    }



    /*section2 ~ #section5 공통 */
    #section2 .inner,
    #section3 .inner,
    #section4 .inner,
    #section5 .inner{
        display:grid;
        grid-template-columns:repeat(14, 1fr);
        align-items:center;
        gap:20px;
    }
    .bookcover_design{
        width:220px;
        margin:40px 0 0 -6px;
    }
    .detail-text-wrap .color-wrap{display:block;}


    /*section2, section4-목업 오른쪽 정렬*/
    #section2 .all-text-wrap,
    #section4 .all-text-wrap{grid-column:2/6;}
    #section2 .title-text-wrap .content-text,
    #section4 .title-text-wrap .content-text{width:74%;}
    #section2 .right-mockup,
    #section4 .right-mockup{
        width:126%;
        margin-left:-23%;
        grid-column:6/14;
    }

    /*section3, section5-목업 왼쪽 정렬*/
    #section3 .all-text-wrap,
    #section5 .all-text-wrap{
        grid-column:10/13;
        order:2;
        /* margin-top:-36%; */
    }
    #section3 .left-mockup,
    #section5 .left-mockup{
        width:130%;
        margin-left:-3%;
        grid-column:1/9;
        order:1;
    }
    #section3 .title-text-wrap .content-text,
    #section5 .title-text-wrap .content-text{width:100%;}


    /*section2 style*/
    #section2{
        background:
        url(../images/bookcover/section2_illustration1.svg)no-repeat right 0% top -71% / 26%,
        url(../images/bookcover/section2_illustration2.svg)no-repeat left 43.5% bottom -12.5% / 20%,
        url(../images/bookcover/section2_illustration3.svg)no-repeat left 36.5% top 42% / 6%;
    }
    #section2 h3,
    #section2 h4,
    #section2 .detail-text-wrap .detail-bold{color:#A3BCE2;}
    #section2 h2{color:#1D50A2;}
    #section2 .detail-text .color-circle1{background:#1D50A2;}


    /*section3 style*/
    #section3{
        background:
        url(../images/bookcover/section3_illustration1.svg)no-repeat left 8% top 18% / 52%,
        url(../images/bookcover/section3_illustration2.svg)no-repeat left 7% bottom 19% / 52%,
        url(../images/bookcover/section3_illustration3.svg)no-repeat left 54.5% top 55.5% / 9.5%,
        #D9EEF0;
    }
    #section3 h3,
    #section3 h4,
    #section3 .detail-text-wrap .detail-bold{color:#A9D8C7;}
    #section3 h2{color:#6DAADD;}
    #section3 .detail-text .color-circle1{background:#8DCCB2;}
    #section3 .detail-text .color-circle2{background:#6DAADD;}


    /*section4 style*/
    #section4{
        background:
        url(../images/bookcover/section4_illustration1.svg)no-repeat right -6% bottom 0% / 55%,
        #727171;
    }
    #section4 h3,
    #section4 h4,
    #section4 .detail-text-wrap .detail-bold{color:#7D0000;}
    #section4 h2{color:#000000;}
    #section4 .detail-text .color-circle1{background:#000000;}
    #section4 .detail-text .color-circle2{background:#7D0000;}
    #section4 .right-mockup{margin-top:-7%;}
}










/*데스크탑*/
@media screen and (min-width:1537px) and (max-width:1920px){
    /*Nav*/
    /*main_nav*/
    .main_nav>ul>li.bookcover>a{
        color:#fff;
        text-shadow:
        -1px 0 #0068FF, 
        0 1px #0068FF, 
        1px 0 #0068FF, 
        0 -1px #0068FF;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }


    /*section1*/
    /*main*/
    /*bookcover-text*/
    .bookcover-text{
        position:absolute;
        left:6%;
        top:12%;
        z-index:2;
    }
    /*ul*/
    ul.content{
        position:absolute;
        left:22%;
        top:66%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:411px;
        font-size:24px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        line-height:30px;
        border-bottom:2px solid #0068FF;
        margin-bottom:30px;
    }
    /*pen*/
    .pen{
        position:absolute;
        left:88%;
        top:28%;
        z-index:5;
    }

    /*배경 line*/
    .line{
        position:absolute;
        top:-21.5%;
        left:-3%;
        z-index:-5;
    }


    /*section2 ~ #section5 공통 */
    #section2 .inner,
    #section3 .inner,
    #section4 .inner,
    #section5 .inner{
        display:grid;
        grid-template-columns:repeat(18, 1fr);
        align-items:center;
        gap:20px;
    }
    .bookcover_design{
        width:220px;
        margin:50px 0 0 -6px;
    }


    /*section2, section4-목업 오른쪽 정렬*/
    #section2 .all-text-wrap,
    #section4 .all-text-wrap{
        grid-column:2/7;
        margin-top:-20%;
    }
    #section2 .right-mockup,
    #section4 .right-mockup{
        width: 117%;
        grid-column:7/18;
    }


    /*section3, section5-목업 왼쪽 정렬*/
    #section3 .all-text-wrap,
    #section5 .all-text-wrap{
        grid-column:13/17;
        order:2;
        margin-top:-20%;
    }
    #section3 .left-mockup,
    #section5 .left-mockup{
        width:120%;
        margin-left:-10%;
        grid-column:2/12;
        order:1;
    }
    #section3 .title-text-wrap .content-text,
    #section5 .title-text-wrap .content-text{width:100%;}


    /*section2 style*/
    #section2{
        background:
        url(../images/bookcover/section2_illustration1.svg)no-repeat right 0% top -243% / 26%,
        url(../images/bookcover/section2_illustration2.svg)no-repeat left 41% bottom -43% / 20%,
        url(../images/bookcover/section2_illustration3.svg)no-repeat left 34.5% top 44%;
    }
    #section2 h3,
    #section2 h4,
    #section2 .detail-text-wrap .detail-bold{color:#A3BCE2;}
    #section2 h2{color:#1D50A2;}
    #section2 .detail-text .color-circle1{background:#1D50A2;}
    #section2 .right-mockup{margin:-4% 0 0 -17.5%;}


    /*section3 style*/
    #section3{
        background:
        url(../images/bookcover/section3_illustration1.svg)no-repeat left 6% top 18% / 50%,
        url(../images/bookcover/section3_illustration2.svg)no-repeat left 6% bottom 16% / 50%,
        url(../images/bookcover/section3_illustration3.svg)no-repeat left 52% top 52.5% / 10%,
        #D9EEF0;
    }
    #section3 h3,
    #section3 h4,
    #section3 .detail-text-wrap .detail-bold{color:#A9D8C7;}
    #section3 h2{color:#6DAADD;}
    #section3 .detail-text .color-circle1{background:#8DCCB2;}
    #section3 .detail-text .color-circle2{background:#6DAADD;}


    /*section4 style*/
    #section4{
        background:
        url(../images/bookcover/section4_illustration1.svg)no-repeat right 6% bottom -5% / 50%,
        #727171;
    }
    #section4 h3,
    #section4 h4,
    #section4 .detail-text-wrap .detail-bold{color:#7D0000;}
    #section4 h2{color:#000000;}
    #section4 .detail-text .color-circle1{background:#000000;}
    #section4 .detail-text .color-circle2{background:#7D0000;}
    #section4 .right-mockup{margin:-7% 0 0 -17.5%;}
}