/*Font, Basic stlye style*/
@import url(./Font.css);
@import url(./Basic\ style.css);



/*모바일*/
@media screen and (max-width:767px) {
    /*toggle_menu*/
    #toggle_menu>ul>li.content>a{
        color:#0068FF;
        text-shadow:
        -1px 0 #fff, 
        0 1px #fff, 
        1px 0 #fff, 
        0 -1px #fff;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }



    /*parallax*/
    .parallax{top:48%;}



    /*section1*/
    /*main*/
    /*content-text*/
    .content-text{
        width:304px;
        /* min-width:40%; */
        /* max-width:90.749%; */
        position:absolute;
        left:-4%;
        top:19%;
        z-index:2;
    }
    ul.content{
        position:absolute;
        left:21%;
        top:70%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:200px;
        /* min-width:253.749%;
        max-width:253.749%; */
        font-size:14px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        border-bottom:2px solid #0068FF;
        margin-bottom:15px;
    }
}










/*태블릿*/
@media screen and (min-width:768px) and (max-width:1024px){
    /*toggle_menu*/
    #toggle_menu>ul>li.content>a{
        color:#0068FF;
        text-shadow:
        -1px 0 #fff, 
        0 1px #fff, 
        1px 0 #fff, 
        0 -1px #fff;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }



    /*parallax*/
    .parallax{top:48%;}



    /*section1*/
    /*main*/
    /*content-text*/
    .content-text{
        /* width:555px; */
        min-width:40%;
        max-width:83.473%;
        position:absolute;
        left:8%;
        top:17%;
        z-index:2;
    }
    /*ul*/
    ul.content{
        position:absolute;
        left:30%;
        top:68.5%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:310px;
        font-size:20px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        line-height:30px;
        border-bottom:2px solid #0068FF;
        margin-bottom:30px;
    }
    /*pen*/
    .pen{
        /* width:45%; */
        min-width:22%;
        max-width:33%;
        position:absolute;
        left:76%;
        top:25.5%;
        z-index:5;
        transform: rotate(-5.95deg);
    }
}










/*노트북*/
@media screen and (min-width:1025px) and (max-width:1536px){
    /*Nav*/
    /*main_nav*/
    .main_nav>ul>li.content>a{
        color:#fff;
        text-shadow:
        -1px 0 #0068FF, 
        0 1px #0068FF, 
        1px 0 #0068FF, 
        0 -1px #0068FF;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }


    /*section1*/
    /*main*/
    /*content-text*/
    .content-text{
        width:620px;
        position:absolute;
        left:-12%;
        top:15%;
        z-index:2;
    }
    /*ul*/
    ul.content{
        position:absolute;
        left:18%;
        top:68.5%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:325px;
        font-size:22px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        line-height:30px;
        border-bottom:2px solid #0068FF;
        margin-bottom:30px;
    }
    /*pen*/
    .pen{
        /* width:45%; */
        min-width:27%;
        max-width:35%;
        position:absolute;
        left:70%;
        top:25%;
        z-index:5;
    }
}










/*데스크탑*/
@media screen and (min-width:1537px) and (max-width:1920px){
    /*Nav*/
    /*main_nav*/
    .main_nav>ul>li.content>a{
        color:#fff;
        text-shadow:
        -1px 0 #0068FF, 
        0 1px #0068FF, 
        1px 0 #0068FF, 
        0 -1px #0068FF;
        /* color: transparent;
        -webkit-text-stroke:0.8px #0068ff; */
    }


    /*section1*/
    /*main*/
    /*content-text*/
    .content-text{
        position:absolute;
        left:-11%;
        top:16%;
        z-index:2;
    }
    /*ul*/
    ul.content{
        position:absolute;
        left:22%;
        top:69.5%;
        text-align:center;
        transform: rotate(-5.95deg);
    }
    ul.content>li{
        width:411px;
        font-size:24px;
        font-family: 'NPSfontRegular';
        font-weight:bold;
        line-height:30px;
        border-bottom:2px solid #0068FF;
        margin-bottom:30px;
    }
    /*pen*/
    .pen{
        position:absolute;
        left:87%;
        top:24%;
        z-index:5;
    }

    /*배경 line*/
    .line{
        position:absolute;
        top:-24%;
        left:-3.5%;
        z-index:-5;
    }
}